<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625784887098-82bacqbjmggcnmvgqnqha1rk2qvedelk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625784887098-82bacqbjmggcnmvgqnqha1rk2qvedelk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625784887098-2hq7eq7ecuj1qviv29k3tkp1d0vhknca.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4_w_1YZewb99DCJO7H2MYBpwZX3leYAI</string>
	<key>GCM_SENDER_ID</key>
	<string>625784887098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.shopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-69c41</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-69c41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625784887098:ios:ef25b7b46b76e0bd272203</string>
</dict>
</plist>